* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f3f5f7;
    height: 3000px;
}
/* 清除浮动代码 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
    }
      
    .clearfix {
    zoom: 1;
    }
a {
    text-decoration: none;
    color: white;
}
li {
    list-style:none;
}
.w {
    width: 1202px;
    margin: 0 auto;
}
.head {
    height: 101px;
}
.logo {
    padding: 30px 0;
    float: left;
}
.nav {
    margin-left: 70px;
    width: 280px;
    float: left;
}
.nav a{
    font-size: 18px;
    color: #050505;
}
.nav span:hover {
    border-bottom: #00a4ff solid 2px;
}
.nav span {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color: #424243;
    font-size: 18px;
    margin: 29px 42px 29px 0;
}

.search {
    width: 411px;
    height: 38px;
    border: 1px solid #00a4ff;
    border-right: none;
    float: left;
    margin: 31px 0 31px 53px;
}
.sou {
    float: left;
    width: 360px;
    height: 38px;
    font-size: 14px;
    color: #bfbfbf;
    border: none;
    text-indent: 19px; 
}
.f {
    float: right;
    width: 50px;
    height: 38px;
    border: none;
    background: url(imgs/search.png);
}
.user {

    float: right;
    width: 132px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color:#666;
    margin: 34px 0 31px 0;
}
/* 最上面的一行完成，接下来是主体部分 */
.index {
    background-color: #1c036c;
    height: 421px;
}
.a {
    width: 1200px;
    height: 421px;
    margin: 0 auto;
    background-image: url(imgs/背景1.png) ;
}
.table {
    float: left;
    width: 191px;
    height: 421px;
    font-size: 14px;
    color: white;
    background: rgba(1, 1, 1, 0.3);
}
.table li {
    height: 44px;
    margin: 0 20px 0 20px;
    line-height: 42px;
}
.table a:hover {
    color: skyblue;
}
.first {
    padding: 13px 0 0 0 !important;
}
.table span {
    float: right;
    font-size: 16px;
    padding-right: 21px; 
}
.window {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #ffffff;
    margin-top: 50px;
}
.head1 {
    width: 230px;
    height: 51px;
    font-size: 18px;
    color: #ffffff;
    background-color: #9bceea;
}
.head1 h3 {
    padding: 12px 60px 15px;
}
.window ul div {
    width: 171px;
    height: 27px;
    border-bottom: 1.5px solid #efefef;
    margin-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.window ul div li {
    font-weight: 700;
    font-size: 16px;
    color: #4e4e4e;
}
.window ul div p {
    font-size: 12px;
    color: #a5a5a5;
}
.c {
    width: 200px;
    height: 40px;
    margin: 5px 15px 13px;
    border: #00a4ff solid 2px;
}
.c a {
    display: block;
    font-size: 16px;
    color: #00a4ff;
    line-height: 40px;
    /* margin-top: 13px; */
    margin-left:  63px ;
}
.major {
    height: 60px;
    margin-top: 8px;
    font-size: 16px;
    background-color: white;
}
.major div {
    height: 18px;
    padding-top: 21px;
}
.major div span {
    float: left;
    margin: 0 0 0 35px;
    color: #00a4ff;
    font-weight: 600;
    margin-right: 33px;
}
.major div li {
    float: left;
    width: 123px;
    border-left: 1px solid #bfbfbf;
    text-align: center;
}
.major div li a {
    color: black;
}
.major div li a:hover {
    color: skyblue;
}
.major div p a {
    color: #00a4ff;
    float: right;
    margin-right: 27px ;
}
.jingpin {
    height: 42px;
    margin-top: 35px;
    margin-bottom: 21px;
}
.jingpin h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
}
.jingpin a {
    color: #a5a5a5;
    float: right;
    font-size: 12px;
}
.tuijian {
    width: 1225px;
}
.tuijian ul li>div {
    width: 229px;
    height: 271px;
    background-color: #ffffff;
    float: left;
    margin-right: 15px;
    margin-bottom: 12px;
}
.tuijian ul li > div > img {
    width: 229px;
}
.tuijian ul li div a {
    /* a不是块级元素，不能设置margin等 */
    display: block;
    font-size: 14px;
    color: #050505;
    margin: 24px 21px 0 25px;
}
.father {
    position: relative;
}
.hot {
    position: absolute;
    top: 5px;
    right: -2px;
    width: 41px;
    height: 23px;
}

.gaoji {
    width: 229px;
    height: 60px;
    margin-top: 24px;
    margin-left: 25px;
}
.gaoji span {
    font-size: 12px;
    color: #ff7c2d;
    float: left;
}
.gaoji p {
    font-size: 12px;
    color: #999999;
    float: left;
}
.end {
    height: 416px;
    margin-top: 40px;
    background-color: white;
}
.end .w {
    padding-top: 32px;
}
.end .w .le {
    float: left;
}
.end .w .le img {
    margin-left: 20px;
}
.end .w .le p {
    font-size: 12px;
    color: #666666;
    margin-top: 24px;
}
.end .w .le input {
    width: 120px;
    height: 35px;
    margin-left: 20px;
    margin-top: 18px;
    font-size: 16px;
    color: #00a4ff;
    border: #00a4ff 1px solid;
    background-color: white;
}
.end .w .ri {
    float: right;
    color: #333333;
}
.end .w .ri a {
    color: #333333;
}
.end .w .ri dl {
    float: left;
    margin-right: 146px;
}
.end .w .ri .lastlist{
    margin-right: 31px;
}
.end .w .ri dl dt {
    font-size: 16px;
    margin-bottom: 18px;

}.end .w .ri dl dd {
    font-size: 12px;
    margin-bottom: 7px;
}